[Unit]
Description=The File Synchronization Service
After=network.target

[Service]
Type=exec
Environment=LANG=C
ExecStart=FSYNCD_EXE %i
ExecReload=FSYNCD_EXE %i
