[Unit]
Description=The File Synchronization Service
After=network.target

[Service]
Type=exec
Environment=LANG=C
Environment=FSYNCD_INSTANCE=%i
ExecStart=FSYNCD_EXE
ExecReload=FSYNCD_EXE
